@import "../scss/variables.scss";
@import "../scss/mixins.scss";

.footer {
  background: $color-dark--primary;
  border-top: 2px solid $color-cyan;
  height: 300px;
  margin: 80px 0 0;
  padding: 40px 0;

  &__interior {
    algin-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: $container-max;
    margin: 0 auto;
    text-align: center;
    width: 95%;
  }

  &__copyright {
    color: $color-white;
    font-size: 18px;
  }
}