@import "../scss/variables.scss";
@import "../scss/mixins.scss";

.header {
  background: $color-dark--primary;
  border-bottom: 2px solid $color-cyan;
  padding: 30px 0;

  &__interior {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: $container-max;
    margin: 0 auto;
    text-align: center;
    width: 95%;

    @media screen and (min-width: $break-tablet-lg) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__title {
    align-items: center;
    color: $color-white;
    display: flex;
    flex-direction: column;
    font-size: 26px;
    line-height: 1.2;

    @media screen and (min-width: $break-tablet-lg) {
      font-size: 30px;
      flex-direction: row;
    }
    
    @media screen and (min-width: $break-desktop-sm) {
      font-size: 34px;
    }
  }

  &__title-text {

    &:nth-of-type(2) {
      margin-left: 0;

      @media screen and (min-width: $break-tablet-lg) {
        margin-left: 10px;
      }
    }
  }

  &__search {
    background: $color-white;
    border: 1px solid $color-cyan;
    height: 50px;
    margin: 10px auto 0;
    max-width: 400px;
    position: relative;
    width: 100%;

    @media screen and (min-width: $break-tablet-lg) {
      margin: 0;
      height: 60px;
    }

    svg {
      position: absolute;
      pointer-events: none;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      z-index: 0;
    }
  }

  &__search-select {
    @include appearence-clear;
    background: transparent;
    font-size: 14px;
    height: 100%;
    padding: 0 20px;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    z-index: 1;

    @media screen and (min-width: $break-phone) {
      font-size: 18px;
    }
  } 
}