@import "../scss/main.scss";

.header {
  background: $color-dark--primary;
  border-bottom: 4px solid $color-highlight;
  padding: 30px 0;
  top: 0;
  width: 100%;
  z-index: 1000;

  &__interior {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: $container-width;

    @media screen and (min-width: $break-tablet-lg) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__title {
    align-items: center;
    color: $color-white;
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    text-align: center;

    @media screen and (min-width: $break-tablet-lg) {
      align-items: flex-start;
      padding: 0 30px;
      text-align: left;
    }

    h1 {
      font-size: 34px;
      
      @media screen and (min-width: $break-phone-lg) {
        font-size: 42px;
      }
    }

    h2 {
      font-size: 24px;
      margin: 10px 0 0;
      
      @media screen and (min-width: $break-phone-lg) {
        font-size: 30px;
      }
    }
  }

  &__title-divider {
    border: 0;
    border-top: 2px solid $color-highlight;
    margin: 10px 0 0;
    max-width: 240px;
    width: 100%;
  }
}