@import "../scss/main.scss";

.header {
  background: $color-dark--primary;
  border-bottom: 4px solid $color-highlight;
  padding: 20px 0 35px;
  top: 0;
  width: 100%;
  z-index: 1000;

  @media screen and (min-width: $break-tablet-lg) {
    padding: 30px 0;
  }

  &__interior {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: $container-width;

    @media screen and (min-width: $break-tablet-lg) {
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__title {
    align-items: center;
    color: $color-white;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    line-height: 1.1;
    text-align: center;
    width: 100%;

    @media screen and (min-width: $break-tablet-lg) {
      align-items: flex-start;
      text-align: left;
    }

    h1 {
      font-size: 38px;
    }
  }

  &__title-divider {
    border: 0;
    border-top: 2px solid $color-highlight;
    margin: 10px 0 0;
    width: 100%;
  }
}