@import "../scss/main.scss";

.job-post-container {
  align-items: stretch;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 40px auto 0;
  position: relative;
  width: $container-width;

  @media screen and (min-width: $break-phone) {
    margin: 60px auto 0;
  }
}

.job-post {
  border-radius: 6px;
  border: 1px solid $color-border--primary;
  color: $color-dark--primary;
  display: flex;
  flex-flow: column;
  padding: 15px;
  @include primary-transition;
  margin: 5px 0;
  max-width: calc(100% - 10px);
  width: 100%;

  &.hidden {
    display: none;
  }

  @media screen and (min-width: $break-phone-lg) {
    margin: 5px;
    max-width: calc(50% - 10px);
    width: 50%;
  }

  @media screen and (min-width: $break-tablet-md) {
    margin: 7px;
    max-width: calc(33% - 14px);
    width: 33%;
  }

  @media screen and (min-width: $break-tablet-lg) {
    max-width: calc(25% - 14px);
    width: 25%;
  }

  @media screen and (min-width: $break-desktop-lg) {
    max-width: calc(20% - 14px);
    width: 20%;
  }

  &__intro {
    flex-grow: 2;

    h2 {
      font-size: 20px;
    }

    h3 {
      align-items: center;
      display: flex;
      font-size: 18px;
      margin: 5px 0 0;

      svg {
        margin-right: 3px;
      }
    }

    p {
      font-size: 14px;
      line-height: 1.4;
      margin: 10px 0 0;
    }
  }

  &__divider {
    border: 0;
    border-bottom: 1px solid $color-border--primary;
    margin: 10px 0 0;

    &--small {
      max-width: 40%;
    }
  }

  &__highlights {
    flex-grow: 3;
    margin: 10px 0 0;

    h4 {
      font-size: 14px;
    }

    ul {
      list-style: none;
      margin: 10px 0 0;
      padding: 0;
    }

    li {
      align-items: center;
      display: flex;
      font-size: 14px;
      line-height: 1;
      margin: 5px 0 0;
      position: relative;

      &:first-of-type {
        margin: 0;
      }

      svg {
        margin-right: 5px;
      }
    }
  }

  &__footer {
    flex-grow: 1;
    margin: 15px 0 0;
  }

  &__cta {
    align-items: center;
    border: 2px solid $color-border--primary;
    display: flex;
    color: $color-black;
    font-family: $text-font;
    justify-content: center;
    line-height: 1;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    @include primary-transition;

    svg {
      margin: 0 0 0 5px;
      position: relative;
      top: -1px;
    }

    &:focus {
      outline: 2px solid $color-dark--primary;
    }

    &:hover {
      background: $color-highlight;
      border: 2px solid $color-dark--primary;
    }
  }

  &__no-results {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 320px);
    padding: 20px;

    p {
      font-size: 28px;

      @media screen and (min-width: $break-phone) {
        font-size: 40px;
      }
    }
  }
}