@import "../scss/main.scss";

.job-post-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px auto 0;
  position: relative;
  width: 90%;

  @media screen and (min-width: $break-phone) {
    margin: 60px auto 0;
  }
}

.job-post {
  display: block;
  @include primary-transition;
  margin: 5px 0;
  max-width: calc(100% - 10px);
  width: 100%;

  &.hidden {
    display: none;
  }

  @media screen and (min-width: $break-phone-lg) {
    margin: 5px;
    max-width: calc(50% - 10px);
    width: 50%;
  }

  @media screen and (min-width: $break-tablet-md) {
    margin: 7px;
    max-width: calc(33% - 14px);
    width: 33%;
  }

  @media screen and (min-width: $break-tablet-lg) {
    max-width: calc(25% - 14px);
    width: 25%;
  }

  @media screen and (min-width: $break-desktop-lg) {
    max-width: calc(20% - 14px);
    width: 20%;
  }

  &__interior {
    border-radius: 6px;
    border: 1px solid $color-black;
    padding: 15px;
  }

  &__title {
    font-size: 20px;
  }

  &__company {
    align-items: center;
    display: flex;
    font-size: 18px;
    margin: 8px 0 0;
  }

  &__title-divider {
    border: 0;
    border-bottom: 1px solid $color-black;
    margin: 10px 0 0;

    &--small {
      max-width: 40%;
      margin: 5px 0 0;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 1.4;
    margin: 10px 0 0;
  }

  &__highlights {
    margin: 12px 0 0;

    h4 {
      font-size: 14px;
    }

    ul {
      list-style: none;
      margin: 10px 0 0;
      padding: 0;
    }

    li {
      align-items: center;
      display: flex;
      font-size: 14px;
      line-height: 1;
      margin: 5px 0 0;
      position: relative;

      &:first-of-type {
        margin: 0;
      }

      svg {
        margin-right: 5px;
      }
    }
  }

  &__link {
    border: 2px solid $color-black;
    display: block;
    color: $color-black;
    font-family: $text-font;
    @include primary-transition;
    line-height: 1;
    margin: 15px 0 0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      background: $color-highlight;
    }
  }
}