@import "../scss/main.scss";

.button__scroll-top {
  background: transparent;
  border: 1px solid $color-black;
  cursor: pointer;
  height: 30px;
  max-width: calc(5% - 2px);
  overflow: hidden;
  opacity: 0;
  padding: 0;
  position: fixed;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  text-indent: -999px;
  text-align: left;
  width: 5%;
  @include primary-transition;

  @media screen and (min-width: $break-phone-lg) {
    height: 40px;
    max-width: calc(5% - 7px);
    right: 7px;
  }

  &:hover {
    background: $color-highlight;
    border: 1px solid $color-black;
  }

  svg {
    color: $color-dark--primary;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    width: 100%;
    @include primary-transition;
  }

  &.scroll-active {
    opacity: 1;
  }
}