@import "../scss/main.scss";

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto 0;

  @media screen and (min-width: $break-phone-lg) {
    flex-direction: row;
  }

  @media screen and (min-width: $break-tablet-lg) {
    margin: 0 auto;
  }

  &__input-wrap {
    color: $color-dark--primary;
    width: 100%;
    position: relative;
    width: 100%;
    text-align: center;

     @media screen and (min-width: $break-phone-lg) {
      width: 48%;
     }

    @media screen and (min-width: $break-tablet-lg) {
      text-align: left;
    }

    &:first-of-type {
      @media screen and (min-width: $break-phone-lg) {
        margin-right: 10px;
      }
    }

    &:last-of-type {
      margin-top: 20px;
      
      @media screen and (min-width: $break-phone-lg) {
        margin-top: 0;
      }
    }

    label {
      color: $color-white;

      @media screen and (min-width: $break-phone-lg) {
        font-size: 18px;
      }
    }

    select,
    input {
      @include appearence-clear;
      background: $color-white;
      border: 2px solid $color-highlight;
      font-size: 18px;
      height: 50px;
      margin: 5px 0 0;
      padding: 10px 15px;
      width: 100%;
    }

    input {
      &::placeholder {
        color: $color-dark--primary;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: $color-dark--primary;
      }

      &::-ms-input-placeholder {
        color: $color-dark--primary;
      }
    }
  }

  &__select-wrap {
    position: relative;
    
    svg {
      position: absolute;
      pointer-events: none;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      z-index: 0;
    }
  }
}
