@import "../scss/main.scss";

.search {
  margin: 25px auto 0;
  width: 100%;
  max-width: 400px;

  @media screen and (min-width: $break-tablet-lg) {
    margin: 0;
  }

  &__input-wrap {
    color: $color-dark--primary;
    position: relative;
    text-align: center;
    width: 100%;

    @media screen and (min-width: $break-tablet-lg) {
      text-align: left;
    }

    label {
      color: $color-white;

      @media screen and (min-width: $break-phone-lg) {
        font-size: 18px;
      }
    }

    input {
      @include appearence-clear;
      background: $color-white;
      border: 2px solid $color-highlight;
      font-size: 18px;
      height: 50px;
      margin: 7px 0 0;
      padding: 10px 15px;
      width: 100%;

      &[type="search"]::-webkit-search-cancel-button {}
    }
  }
}
