//Containers + Breakpoints
$container-max: 1280px;
$break-desktop-lg: 1480px;
$break-desktop: 1380px;
$break-desktop-sm: $container-max;
$break-tablet-lg: 1100px;
$break-tablet-md: 850px;
$break-tablet: 768px;
$break-phone-lg: 640px;
$break-phone: 480px;
$break-phone-sm: 321px;