@import 'fonts.scss';

//Colors
$color-black: #000000;
$color-white: #FFFFFF;
$color-highlight: #00FFFF;
$color-dark--primary: #202020;

//Containers + Breakpoints
$container-max: 1280px;
$header-height: 120px;

//Breakpoints
$break-desktop: 1380px;
$break-desktop-sm: $container-max;
$break-tablet-lg: 1100px;
$break-tablet-md: 850px;
$break-tablet: 768px;
$break-phone-lg: 640px;
$break-phone: 480px;
$break-phone-sm: 321px;

//Fonts
$title-font: 'Roboto Mono', monospace;
$text-font: 'Varela Round', sans-serif;
